.navbar {
  display: flex;
  justify-content:right;
  align-items: center;
  padding: 10px 20px;

  
  margin: 0;
  font-size: 20px;
  font-family:sans-serif;
  font-weight: lighter;
  margin-top: 20px;
  
  
}




.navbar-toggle {
  background: none;
  border: none;
  color: rgb(255, 255, 255);
  font-size: 40px;
  cursor: pointer;
  transition: all 0.3s ease;
  
}
.navbar-toggle.open {
  color: rgb(248, 248, 150);
  transform: rotate(180deg);
}
@media (min-width: 768px) {
    .navbar-toggle {
      display: none;
    }
  }
.navbar-toggle:hover{
  color: rgb(248, 248, 150);
  
}


.navbar-links {
  list-style: none;
  display: flex;
  gap: 25px;
  justify-content:right;
}

.navbar-links li {
  margin: 0;
}

.navbar-links a {
  font-weight: bold;
  color: rgb(7, 203, 252);
  text-decoration: none;
  padding: 25px;
}
.navbar-links a:hover {
  color: rgb(248, 248, 150);
  text-shadow:0px;
  box-shadow: 10px;
  }

@media (max-width: 768px) {
  .navbar-links {
    opacity: 0;
    overflow: hidden;
    transition: height 2s ease, opacity 1s ease;
    flex-direction: column;
    position: absolute;
    top: 90px;
    left: 0;
    width: 100%;
    height:150px;
  }

  .navbar-links.open {
    opacity: 1;
    display: flex;
    justify-content: space-between;
   
  }
}