.project2,
.project1{
    width: 23rem;
    border-radius: 1rem;
    box-shadow: 9px 10px 8px rgba(71, 70, 70, 0.512);
    
    
    height: fit-content;
    margin: 0.5rem;
    margin-right: 0px !important;
}

.project2:hover,
.project1:hover{
    transform: scale(1.1);
    box-shadow: 9px 9px 9px rgba(0, 0, 0, 0.2);
    cursor: pointer;

}

.video1{
    border-radius: 1rem 1rem 0 0;
    width: 100%;
}
.project2-description,
.project1-description{
    margin:0.5rem 5%;
    font-family:sans-serif;
    font-weight:bold;
    font-size: large;
    color: rgb(13, 178, 219);
}

.project2-title,
.project1-title{
    margin:0.5rem 5%;
    font-size: 50px;
    font-family:sans-serif;
    font-weight: light;
    color: rgb(249, 252, 112);
    
}